In [34]:
import pandas as pd

# Read  the data from csv file
datapath = 'lab05_dataset.csv'
df = pd.read_csv(datapath)
print(df.to_string())

  First name Last name  Gender    Position  Department Employee level  Performance score  Employment satisfaction  Hired date Termination date
0      Pisey     Chann  Female  Supervisor          HR         Senior                 67                        2  2015-03-12              NaN
1      Phary       Him    Male     Manager   Marketing           Lead                 70                        5  2016-08-23              NaN
2    Rachana     Chhay  Female    Engineer   Marketing         Junior                 77                        2  2018-05-06              NaN
3  Sreyneang      Neou    Male       Clerk          HR            Mid                 94                        2  2017-09-13              NaN
4        Sok      Khun    Male       Clerk       Sales         Junior                 88                        1  2019-11-08              NaN
5      Kosal       Lim    Male       Clerk   Marketing           Lead                 57                        4  2011-04-27              NaN
6      Bopha    Chhuon    Male  Technician   Marketing         Senior                 64                        2  2013-06-14              NaN
7     Sothea     Chhay  Female  Supervisor          HR         Senior                 58                        4  2020-01-20              NaN
8      Kanha     Khiev  Female       Clerk  Operations           Lead                 70                        5  2012-07-11              NaN
9     Chenda      Peou    Male     Manager  Operations         Junior                 59                        1  2015-05-04       2023-05-24

## I. Clearing data

### 1. Defined the problems in this dataset

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   First name               10 non-null     object
 1   Last name                10 non-null     object
 2   Gender                   10 non-null     object
 3   Position                 10 non-null     object
 4   Department               10 non-null     object
 5   Employee level           10 non-null     object
 6   Performance score        10 non-null     int64
 7   Employment satisfaction  10 non-null     int64
 8   Hired date               10 non-null     object
 9   Termination date         1 non-null      object
dtypes: int64(2), object(8)
memory usage: 928.0+ bytes

### 2. Make sure that no white space in column headers

In [36]:
df.columns = df.columns.str.replace(' ', '_')
print(df.to_string())

  First_name Last_name  Gender    Position  Department Employee_level  Performance_score  Employment_satisfaction  Hired_date Termination_date
0      Pisey     Chann  Female  Supervisor          HR         Senior                 67                        2  2015-03-12              NaN
1      Phary       Him    Male     Manager   Marketing           Lead                 70                        5  2016-08-23              NaN
2    Rachana     Chhay  Female    Engineer   Marketing         Junior                 77                        2  2018-05-06              NaN
3  Sreyneang      Neou    Male       Clerk          HR            Mid                 94                        2  2017-09-13              NaN
4        Sok      Khun    Male       Clerk       Sales         Junior                 88                        1  2019-11-08              NaN
5      Kosal       Lim    Male       Clerk   Marketing           Lead                 57                        4  2011-04-27              NaN
6      Bopha    Chhuon    Male  Technician   Marketing         Senior                 64                        2  2013-06-14              NaN
7     Sothea     Chhay  Female  Supervisor          HR         Senior                 58                        4  2020-01-20              NaN
8      Kanha     Khiev  Female       Clerk  Operations           Lead                 70                        5  2012-07-11              NaN
9     Chenda      Peou    Male     Manager  Operations         Junior                 59                        1  2015-05-04       2023-05-24

### 3. No leading or ending white speech in each values

In [37]:
# print(df["First_name"].dtype)
# No leading or ending white spaces in each values
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].str.strip()

print(df.to_string())

  First_name Last_name  Gender    Position  Department Employee_level  Performance_score  Employment_satisfaction  Hired_date Termination_date
0      Pisey     Chann  Female  Supervisor          HR         Senior                 67                        2  2015-03-12              NaN
1      Phary       Him    Male     Manager   Marketing           Lead                 70                        5  2016-08-23              NaN
2    Rachana     Chhay  Female    Engineer   Marketing         Junior                 77                        2  2018-05-06              NaN
3  Sreyneang      Neou    Male       Clerk          HR            Mid                 94                        2  2017-09-13              NaN
4        Sok      Khun    Male       Clerk       Sales         Junior                 88                        1  2019-11-08              NaN
5      Kosal       Lim    Male       Clerk   Marketing           Lead                 57                        4  2011-04-27              NaN
6      Bopha    Chhuon    Male  Technician   Marketing         Senior                 64                        2  2013-06-14              NaN
7     Sothea     Chhay  Female  Supervisor          HR         Senior                 58                        4  2020-01-20              NaN
8      Kanha     Khiev  Female       Clerk  Operations           Lead                 70                        5  2012-07-11              NaN
9     Chenda      Peou    Male     Manager  Operations         Junior                 59                        1  2015-05-04       2023-05-24

### 4. No Duplicated data

In [38]:
# No duplicate rows
df.drop_duplicates(inplace=True)
print(df.to_string())

  First_name Last_name  Gender    Position  Department Employee_level  Performance_score  Employment_satisfaction  Hired_date Termination_date
0      Pisey     Chann  Female  Supervisor          HR         Senior                 67                        2  2015-03-12              NaN
1      Phary       Him    Male     Manager   Marketing           Lead                 70                        5  2016-08-23              NaN
2    Rachana     Chhay  Female    Engineer   Marketing         Junior                 77                        2  2018-05-06              NaN
3  Sreyneang      Neou    Male       Clerk          HR            Mid                 94                        2  2017-09-13              NaN
4        Sok      Khun    Male       Clerk       Sales         Junior                 88                        1  2019-11-08              NaN
5      Kosal       Lim    Male       Clerk   Marketing           Lead                 57                        4  2011-04-27              NaN
6      Bopha    Chhuon    Male  Technician   Marketing         Senior                 64                        2  2013-06-14              NaN
7     Sothea     Chhay  Female  Supervisor          HR         Senior                 58                        4  2020-01-20              NaN
8      Kanha     Khiev  Female       Clerk  Operations           Lead                 70                        5  2012-07-11              NaN
9     Chenda      Peou    Male     Manager  Operations         Junior                 59                        1  2015-05-04       2023-05-24

### 5. Keep the correct format text data

In [39]:
# Keep the correct format text data
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].str.capitalize()

print(df.to_string())

  First_name Last_name  Gender    Position  Department Employee_level  Performance_score  Employment_satisfaction  Hired_date Termination_date
0      Pisey     Chann  Female  Supervisor          Hr         Senior                 67                        2  2015-03-12              NaN
1      Phary       Him    Male     Manager   Marketing           Lead                 70                        5  2016-08-23              NaN
2    Rachana     Chhay  Female    Engineer   Marketing         Junior                 77                        2  2018-05-06              NaN
3  Sreyneang      Neou    Male       Clerk          Hr            Mid                 94                        2  2017-09-13              NaN
4        Sok      Khun    Male       Clerk       Sales         Junior                 88                        1  2019-11-08              NaN
5      Kosal       Lim    Male       Clerk   Marketing           Lead                 57                        4  2011-04-27              NaN
6      Bopha    Chhuon    Male  Technician   Marketing         Senior                 64                        2  2013-06-14              NaN
7     Sothea     Chhay  Female  Supervisor          Hr         Senior                 58                        4  2020-01-20              NaN
8      Kanha     Khiev  Female       Clerk  Operations           Lead                 70                        5  2012-07-11              NaN
9     Chenda      Peou    Male     Manager  Operations         Junior                 59                        1  2015-05-04       2023-05-24

### 6. Keep a single value in each column

In [40]:
# Keep a single value in each column
# for col in df.columns:
#     if df[col].dtype == 'object':
#         df[col] = df[col].str.split().str.get(0)

# print(df.to_string())

## II. Analysis data

### 1. Which Department has the most employee?

In [56]:
# Which Department has the most employee
dept_count = df['Department'].value_counts()
print(dept_count)
print()
print('Most employee in Department:', dept_count.idxmax(), 'with', dept_count.max(), 'employees')

Department
Marketing     4
Hr            3
Operations    2
Sales         1
Name: count, dtype: int64

Most employee in Department: Marketing with 4 employees

### 2. Which Employee Level has the most employee?

In [55]:
# Which Employee_level has the most employee
level_count = df['Employee_level'].value_counts()
print(level_count)
print()
print('Most employee in Employee_level:', level_count.idxmax(), 'with', level_count.max(), 'employees')

# for level in level_count.index:
#     if level_count[level] == most_count[-1]:
#         most_count.append(level)

# print('Most employee in Employee_level:', level_count[most_count], 'with', max_value, 'employees')

Employee_level
Senior    3
Lead      3
Junior    3
Mid       1
Name: count, dtype: int64

Most employee in Employee_level: Senior with 3 employees

### 3. Which Employee Level has the highest Performance Score in average?

In [54]:
# Which Employee_level has the highest Performance_score in average
avg_score = df.groupby('Employee_level')['Performance_score'].mean()
print(avg_score)
print()
print('Highest Performance_score in Employee_level:', avg_score.idxmax(), 'with', avg_score.max(), 'score')

Employee_level
Junior    74.666667
Lead      65.666667
Mid       94.000000
Senior    63.000000
Name: Performance_score, dtype: float64

Highest Performance_score in Employee_level: Mid with 94.0 score

### 4. Which Department has Performance Score in average?

In [57]:
dept_average_score = df.groupby('Department')['Performance_score'].mean()
print(dept_average_score)
print()
print('Highest Performance_score in Department:', dept_average_score.idxmax(), 'with', dept_average_score.max(), 'score')

Department
Hr            73.0
Marketing     67.0
Operations    64.5
Sales         88.0
Name: Performance_score, dtype: float64

Highest Performance_score in Department: Sales with 88.0 score

### 5. Which Department has the most Senior?

In [62]:
dept_level = df.groupby(['Department'])['Employee_level'].value_counts()
print(dept_level)
print()
print('Most Employee_level in Department:', dept_level.idxmax(), 'with', dept_level.max(), 'employees')

Department  Employee_level
Hr          Senior            2
            Mid               1
Marketing   Lead              2
            Junior            1
            Senior            1
Operations  Junior            1
            Lead              1
Sales       Junior            1
Name: count, dtype: int64

Most Employee_level in Department: ('Hr', 'Senior') with 2 employees