<a name='what'></a>What are functions?
===
Functions are a set of actions that we group together, and give a name to. You have already used a number of functions from the core Python language, such as *string.title()* and *list.sort()*. We can define our own functions, which allows us to "teach" Python new behavior.

<a name='general_syntax'></a>General Syntax
---
A general function looks something like this:

In [ ]:
# Let's define a function.
def function_name(argument_1, argument_2):
    # Do whatever we want this function to do,
    #  using argument_1 and argument_2

# Use function_name to call the function.
function_name(value_1, value_2)

### Example

In [ ]:
def thank_you(name):
    # This function prints a two-line personalized thank you message.
    print("\nYou are doing good work, %s!" % name)
    print("Thank you very much for your efforts on this project.")

thank_you('Adriana')
thank_you('Billy')
thank_you('Caroline')

### A note on a common error
A function must be defined before you use it in your program. For example, putting the function at the end of the program would not work.

In [ ]:
thanks_you('Adriana')
thanks_you('Billy')
thanks_you('Caroline')

def thanks_you(name):
    # This function prints a two-line personalized thank you message.
    print("\nYou are doing good work, %s!" % name)
    print("Thank you very much for your efforts on this project.")

A second example
---
When we introduced the different methods for [sorting a list], our code got very repetitive. It takes two lines of code to print a list using a for loop, so these two lines are repeated whenever you want to print out the contents of a list. This is the perfect opportunity to use a function, so let's see how the code looks with a function.

First, let's see the code we had without a function:

In [ ]:
def show_students(students, message):
    # Print out a message, and then the list of students
    print(message)
    for student in students:
        print(student.title())

students = ['bernice', 'aaron', 'cody']

# Put students in alphabetical order.
students.sort()
show_students(students, "Our students are currently in alphabetical order.")

#Put students in reverse alphabetical order.
students.sort(reverse=True)
show_students(students, "\nOur students are now in reverse alphabetical order.")

<a name='return_value'></a>Returning a Value
---
Each function you create can return a value. This can be in addition to the primary work the function does, or it can be the function's main job. The following function takes in a number, and returns the corresponding word for that number:

In [ ]:
def get_number_word(number):
    # Takes in a numerical value, and returns
    #  the word corresponding to that number.
    if number == 0:
        return 'zero'
    elif number == 1:
        return 'one'
    elif number == 2:
        return 'two'
    elif number == 3:
        return 'three'
    else:
        return "I'm sorry, I don't know that number."
        print("Test outside return")
# Let's try out our function.
for current_number in range(0,6):
    number_word = get_number_word(current_number)
    print(current_number, number_word)

<a name='exercises'></a>Exercises
---
#### Greeter
- Write a function that takes in a person's name, and prints out a greeting.
    - The greeting must be at least three lines, and the person's name must be in each line.
- Use your function to greet at least three different people.
- **Bonus:** Store your three people in a list, and call your function from a `for` loop.

In [ ]:
# Ex 2.1 : Greeter

# put your code here

#### Full Names 1
- Write a function that takes in a first name and a last name, and prints out a nicely formatted full name, in a sentence. Your sentence could be as simple as, "Hello, *first_name last_name*."
- Call your function three times, with a different name each time.

In [ ]:
# Ex 2.2 : Full Names
# put your code here

#### Full Names 2
- Write a function that takes in a list of first name and a list of last name, and prints out a nicely formatted full name, in a sentence. Your sentence could be as simple as, "Hello, *firstName\_lastName*."

In [1]:
# Ex 2.3 : Full Names 2
# put your code here
first_name = ['Kor', 'Khor', 'Kur', 'Khur']
last_name = ['A', 'B', 'C', 'D']

for name in zip(first_name, last_name):
    print(f'first name:{name[0]}, last name: {name[1]}')

first name:Kor, last name: A
first name:Khor, last name: B
first name:Kur, last name: C
first name:Khur, last name: D

#### Full Names 3
- Write a function that takes in a list of first name and a list of last name, and returns the length of the longest fullName.
- Print out the longest fullName with it's length.

In [4]:
# Ex 2.4 : Full Names 2
# put your code here
def longestFullName(firstNames, lastNames):
    longest = ''
    for names in zip(firstNames, lastNames):
        fullNames = f'{names[0]} {name[1]}'
        if len(longest) < len(fullNames):
            longest = fullNames
    return (longest, len(longest))

first_name = ['Kor', 'Khor', 'Kur', 'Khur']
last_name = ['A', 'B', 'C', 'D']
print(longestFullName(firstNames=first_name, lastNames=last_name))

('Khor D', 6)

#### Addition Calculator
- Write a function that takes in two numbers, and adds them together. Make your function print out a sentence showing the two numbers, and the result.
- Call your function with three different sets of numbers.

In [ ]:
# Ex 2.5 : Addition Calculator

# put your code here

#### Return Calculator
- Modify *Addition Calculator* so that your function returns the sum of the two numbers. The printing should happen outside of the function.

In [ ]:
# Ex 2.6 : Return Calculator

# put your code here

### 4.5 Ordered Working List

Start with the list you created in Working List.
You are going to print out the list in a number of different orders.
Each time you print the list, use a for loop rather than printing the raw list.

Print a message each time telling us what order we should see the list in.

* Print the list in its original order.

* Print the list in alphabetical order.

* Print the list in its original order.

* Print the list in reverse alphabetical order.

* Print the list in its original order.

* Print the list in the reverse order from what it started.

* Print the list in its original order

* Permanently sort the list in alphabetical order, and then print it out.

* Permanently sort the list in reverse alphabetical order, and then print it out.

In [ ]:
# Ex 2.7 : List Exercises - Functions

# put your code here

### 4.6 Ordered Numbers

Make a list of 5 numbers, in a random order.
You are going to print out the list in a number of different orders.
Each time you print the list, use a for loop rather than printing the raw list.

Print a message each time telling us what order we should see the list in.

* Print the numbers in the original order.
* Print the numbers in increasing order.
* Print the numbers in the original order.
* Print the numbers in decreasing order.
* Print the numbers in their original order.
* Print the numbers in the reverse order from how they started.
* Print the numbers in the original order.
* Permanently sort the numbers in increasing order, and then print them out.
* Permanently sort the numbers in descreasing order, and then print them out.

In [ ]:
# Ex 2.8 : List Exercises - Functions

# put your code here

<a name='default_values'></a>Default argument values
===
When we first introduced functions, we started with this example:

In [5]:
def thank_you(name):
    # This function prints a two-line personalized thank you message.
    print("\nYou are doing good work, %s!" % name)
    print("Thank you very much for your efforts on this project.")

thank_you('Billy')
thank_you('Caroline')
thank_you()

You are doing good work, Billy!
Thank you very much for your efforts on this project.

You are doing good work, Caroline!
Thank you very much for your efforts on this project.

TypeError: thank_you() missing 1 required positional argument: 'name'

That makes sense; the function needs to have a name in order to do its work, so without a name it is stuck.

If you want your function to do something by default, even if no information is passed to it, you can do so by giving your arguments default values. You do this by specifying the default values when you define the function:

In [6]:
def thank_you(name='someone else'):
    # This function prints a two-line personalized thank you message.
    #  If no name is passed in, it prints a general thank you message
    #  to everyone.
    print("\nYou are doing good work, %s!" % name)
    print("Thank you very much for your efforts on this project.")

thank_you('Billy')
thank_you('Caroline')
thank_you()
thank_you(1)

You are doing good work, Billy!
Thank you very much for your efforts on this project.

You are doing good work, Caroline!
Thank you very much for your efforts on this project.

You are doing good work, someone else!
Thank you very much for your efforts on this project.

You are doing good work, 1!
Thank you very much for your efforts on this project.

<a name='exercises_default_values'></a>Exercises
---
#### Games
- Write a function that accepts the name of a game and prints a statement such as, "I like playing chess!"
- Give the argument a default value, such as `chess`.
- Call your function at least three times. Make sure at least one of the calls includes an argument, and at least one call includes no arguments.

In [7]:
# Ex 2.9 : Games

# put your code here
def game_name(name='chess'):
    print(f'I like playing {name}!')

game_name('dota')
game_name(1)
game_name()

I like playing dota!
I like playing 1!
I like playing chess!

#### Favorite Movie
- Write a function that accepts the name of a movie, and prints a statement such as, "My favorite movie is The Princess Bride."
- Give the argument a default value, such as `The Princess Bride`.
- Call your function at least three times. Make sure at least one of the calls includes an argument, and at least one call includes no arguments.

In [9]:
# Ex 2.10 : Favorite Movie

# put your code here
def favorite_movie(movie_name='The Princess Bride'):
    print(f'My favorite movie is {movie_name}')

favorite_movie("Harry Potter")
favorite_movie(1)
favorite_movie()

My favorite movie is Harry Potter
My favorite movie is 1
My favorite movie is The Princess Bride

#### Favorite Colors
- Write a function that takes two arguments, a person's name and their favorite color. The function should print out a statement such as "Hillary's favorite color is blue."
- Call your function three times, with a different person and color each time.

In [8]:
# Ex 2.11 : Favorite Colors

# put your code here
def favorit_color(name, color):
    print(f'{name}\'s favorite color is {color}')

favorit_color('Chang\'e', 'Ping')
favorit_color('Layla', 'Purple')
favorit_color('Moskov', 'Black')

Chang'e's favorite color is Ping
Layla's favorite color is Purple
Moskov's favorite color is Black

#### Phones
- Write a function that takes two arguments, a brand of phone and a model name. The function should print out a phrase such as "iPhone 6 Plus".
- Call your function three times, with a different combination of brand and model each time.

In [10]:
# Ex 2.12 : Phones

# put your code here
def smartphone(brand, model):
    print(f'{brand} {model}')

smartphone('iPhone', '16 Pro Max')
smartphone('Samsung', 'S 24 Ultra')
smartphone('Google', 'Pixel 9 Pro')

iPhone 16 Pro Max
Samsung S 24 Ultra
Google Pixel 9 Pro

<a name='keyword_arguments'></a>Keyword arguments and Mixing positional

In [ ]:
def describe_person(first_name, last_name, age=None, favorite_language=None, died=None):
    """
    This function takes in a person's first and last name, their age,
    and their favorite language.
    It then prints this information out in a simple format.
    """

    print("First name: %s" % first_name.title())
    print("Last name: %s" % last_name.title())

    # Optional information:
    if age:
        print("Age: %d" % age)
    if favorite_language:
        print("Favorite language: %s" % favorite_language)
    if died:
        print("Died: %d" % died)
    # Blank line at end.
    print("\n")

describe_person('brian', 'kernighan', favorite_language='C')
describe_person('adele', 'goldberg', age=68, favorite_language='Smalltalk')
describe_person('dennis', 'ritchie', favorite_language='C', died=2011)
describe_person('guido', 'van rossum', favorite_language='Python')

describe_person(age=18, favorite_language='Python', last_name = 'Romchong', first_name = 'Keo')

<a name='exercises_keyword_arguments'></a>Exercises
---
#### Sports Teams
- Write a function that takes in two arguments, the name of a city and the name of a sports team from that city.
- Call your function three times, using a mix of positional and keyword arguments.

In [1]:
# Ex 2.13 :

# put your code here
def sport_team(city, name):
    print(f'{city} {name}')

sport_team('New York', 'Yankees')
sport_team(city='Boston', name='Red Sox')
sport_team(name='Patriots', city='New England')

New York Yankees
Boston Red Sox
New England Patriots

#### World Languages
- Write a function that takes in two arguments, the name of a country and a major language spoken there.
- Call your function three times, using a mix of positional and keyword arguments.

In [2]:
# Ex 2.14 :

# put your code here
def world_language(country, language):
    print(f'The official language of {country} is {language}')

world_language('Cambodia', 'Khmer')
world_language(country='France', language='French')
world_language(language='Spanish', country='Spain')

The official language of Cambodia is Khmer
The official language of France is French
The official language of Spain is Spanish

<a name='arbitrary_arguments'></a>Accepting an arbitrary number of arguments
===
We have now seen that using keyword arguments can allow for much more flexible calling statements.

In [3]:
def adder(num_1, num_2):
    # This function adds two numbers together, and prints the sum.
    sum = num_1 + num_2
    print("The sum of your numbers is %d." % sum)

# Let's add some numbers.
adder(1, 2)
adder(-1, 2)
adder(1, -2)
# Let's add some numbers.
adder(1, 2, 3)

The sum of your numbers is 3.
The sum of your numbers is 1.
The sum of your numbers is -1.

TypeError: adder() takes 2 positional arguments but 3 were given

Python gives us a syntax for letting a function accept an arbitrary number of arguments (*args)

In [4]:
def example_function(arg_1, arg_2, *arg_3):
    # Let's look at the argument values.
    print('\narg_1:', arg_1)
    print('arg_2:', arg_2)
    print('arg_3:', arg_3)

example_function(1, 2)
example_function(1, 2, 3)
example_function(1, 2, 3, 4)
example_function(1, 2, 3, 4, 5)

arg_1: 1
arg_2: 2
arg_3: ()

arg_1: 1
arg_2: 2
arg_3: (3,)

arg_1: 1
arg_2: 2
arg_3: (3, 4)

arg_1: 1
arg_2: 2
arg_3: (3, 4, 5)

In [ ]:
def adder(*nums):
    """This function adds the given numbers together and prints the sum."""
    # Print the results.
    sum = 0
    for x in nums:
      sum +=x
    print("The sum of your numbers is %d." % sum)

# Let's add some numbers.
adder(1, 2)
adder(1, 2, 3, 4)
adder(1, 2, 3, 4, 5)

# Lambdas, and Map/Reduce

**lambdas**, and **map/reduce** can allow you to process your data in advanced ways. We will introduce these techniques here and expand on them in the next module, which will discuss Pandas.

Function parameters can be named or unnamed in Python. Default values can also be used. Consider the following function.

In [15]:
def process_string(str):
    t = str.strip()
    return t[0].upper() + t[1:]

In [16]:
def square(x):
    return x**2

## Lambda

It might seem somewhat tedious to have to create an entire function just to check to see if a value is greater than 5. A **lambda** saves you this effort.

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

### Syntax

**lambda** *arguments* : *expression*

In [ ]:
x = lambda x: x**2
print(x(5))

25

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

In [5]:
x = lambda x: 100 if x > 100 else 50 if x > 50 else x
print(x(51))

50

#### Exercise
Write a Python program to sort a list of tuples using Lambda.
- Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
- Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]



> *** tip:
Using sort()

In [9]:
tuple_list = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
# Sort the list of tuples based on the second element of the tuples
tuple_list.sort(key=lambda x: x[1])
print(tuple_list)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

Write a Python program to find palindromes in a given list of strings using Lambda.
- Orginal list of strings:
['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']
- List of palindromes:
['php', 'aaa']



> *** Palindrome: a word, phrase, or sequence that reads the same backwards as forwards, e.g. madam

In [10]:
# put your code here
str_list = ['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']
# List of palindrome strings
palindrome = lambda x: True if x == x[::-1] else False
print([x for x in str_list if palindrome(x)])

['php', 'aaa']

Write a Python program to find all anagrams of a string in a given list of strings using Lambda.
- Orginal list of strings:
['bcda', 'abce', 'cbda', 'cbea', 'adcb']
- Anagrams of 'abcd' in the above string:
['bcda', 'cbda', 'adcb']


> *** anagram: a word, phrase, or name formed by rearranging the letters of another, such as spar, formed from rasp.

In [12]:
# put your code here
orginal_list = ['bcda', 'abce', 'cbda', 'cbea', 'adcb']
# Anagrams of any string
anagrams = lambda x, y: sorted(x) == sorted(y)
print([x for x in orginal_list if anagrams('abcd', x)])

['bcda', 'cbda', 'adcb']

### Nested Function


The Lambda function is most powerful when used inside another function.

Let’s consider an example of a user-defined function that takes a single argument which is used as an exponent of any number.

In [13]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2) # lambda a: a * 2
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))
print(mydoubler(20))

22
33
40

## Map

The **map** function is very similar to the Python **comprehension** that we previously explored. The following **comprehension** accomplishes the same task as the previous call to **map**.

In [17]:
l = ["   apple  ", "pear ", "orange", "pine apple  "]
l2 = [process_string(x) for x in l]
print(l2)

['Apple', 'Pear', 'Orange', 'Pine apple']

The choice of using a **map** function or **comprehension** is up to the programmer. I tend to prefer **map** since it is so common in other programming languages.

### Using with map()

Python's **map** is a very useful function that is provided in many different programming languages. The **map** function takes a **list** and applies a function to each member of the **list** and returns a second **list** that is the same size as the first.

The map() function in python has the following syntax:

map(func, *iterables)

In [18]:
l = ["   apple  ", "pear ", "orange", "pine apple  "]
list(map(process_string, l))

['Apple', 'Pear', 'Orange', 'Pine apple']

In [19]:
# The map() maps the sequence from 1 to 10 to the lambda function and returns the square of all the elements of the sequence.

print(list(map(lambda x: x**2, range(1,11))))

numlst = [1,2,3,4,5,6,7,8,9,10]
print(list(map(lambda x: x**2, numlst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise
Write a Python program to triple all numbers in a given list of integers.
Use Python map.

In [20]:
numlst = [1,2,3,4,5,6,7,8,9,10]
print(list(map(lambda x: x*3, numlst)))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Write a Python program to compute the square of the first N Fibonacci numbers, using the map function and generate a list of the numbers.


> F0 = 0,   F1 = 1,
and
Fn = Fn - 1 + Fn - 2,

In [23]:
def fibo_square(x):
    # Fibonacci
    fibonacci = lambda x: 0 if x < 1 else 1 if x == 1 else fibonacci(x-1) + fibonacci(x-2)
    return fibonacci(x)**2


list(map(fibo_square, range(0, 11)))

[0, 1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

Write a Python program to compute the sum of elements of an array of integers. Use the map() function.

>
- Original array: array('i', [1, 2, 3, 4, 5, -15])
- Sum of all elements of the said array:
0

In [45]:
# put your code here
numlst = [1, 2, 3, 4, 5, -15]
# compute the sum of elements of an array of integers. Use the map() function.
total_sum = sum(numlst)

print(total_sum)

TypeError: <lambda>() missing 1 required positional argument: 'sum'

## Filter

While a **map function** always creates a new **list** of the same size as the original, the **filter** function creates a potentially smaller **list**.

#### Syntax
filter(func, iterable)

In [46]:
def greater_than_five(x):
    return x > 5


l = [1, 10, 20, 3, -2, 0,15,5]
# print(greater_than_five(10))

l2 = list(filter(greater_than_five, l))
print(l2)

[10, 20, 15]

In [47]:
l = [1, 10, 20, 3, -2, 0,15,5, 6]
l2 = list(filter(lambda x: x > 5, l))
print(l2)

[10, 20, 15, 6]

### Exercise

Write a Python function that filters out even numbers from a list of integers using the filter function.


> - Original numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
- After filters out even numbers from the said list of integers
[1, 3, 5, 7, 9]

Write a Python program that creates a list of dictionaries containing student information (name, age, grade) and uses the filter function to extract students with a grade greater than or equal to 95.


> - - Student information:
[{'name': 'Denis Helio', 'age': 17, 'grade': 97}, {'name': 'Hania Mehtap', 'age': 16, 'grade': 92}, {'name': 'Kelan Stasys', 'age': 17, 'grade': 90}, {'name': 'Velvet Mirko', 'age': 16, 'grade': 94}, {'name': 'Delores Aeneas', 'age': 17, 'grade': 100}]
- Students with high grades:
[{'name': 'Denis Helio', 'age': 17, 'grade': 97}, {'name': 'Delores Aeneas', 'age': 17, 'grade': 100}]

## Reduce

Finally, we will make use of **reduce**. Like **filter** and **map** the **reduce** function also works on a **list**. However, the result of the **reduce** is a single value. Consider if you wanted to sum the **values** of a **list**. The sum is implemented by a **lambda**.

#### Syntax:

reduce(func, iterable[, initial])

In [48]:
# Python 3
from functools import reduce

numbers = [3, 4, 6, 9, 34, 12]

def custom_sum(first, second):
    return first + second

result = reduce(custom_sum, numbers,10)
print(result)

78

In [49]:
from functools import reduce

l = [1, 10, 20, 3, -2, 0]
result = reduce(lambda x, y: x + y, l)
print(result)

32

### Exercise

Use map to print the square of each numbers rounded to three decimal places

my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]

In [ ]:
# write your solution
# map_result = list(map(lambda x: x, my_floats))
# [18.922, 37.088, 10.562, 95.453, 4.666, 78.854, 21.068]

Use filter to print only the names that are less than  or equal to seven letters

my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]

In [ ]:
# write your solution
# filter_result = list(filter(lambda name: name, my_names, my_names))
#['olumide', 'josiah', 'omoseun']

Use reduce to print the product of these numbers

my_numbers = [4, 6, 9, 23, 5]

In [ ]:
# write your solution
# reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers, 0)
#['olumide', 'josiah', 'omoseun']

# Object-Oriented terminology
**OOP** models real world entities as software objects where each object has some **data/attributes** and some **functions/methods** of it's own.

- Define a **class**, which is like a blueprint for creating an object
- Use classes to create **new objects**
- Model systems with **class inheritance**

Eg. Object - Human Being:
- It's data - age, weight, height, etc.
- It's functions - walk, talk, sleep, run.

An **attribute** is a piece of information. In code, an attribute is just a variable that is part of a class.

A **behavior** is an action that is defined within a class. These are made up of methods, which are just functions that are defined for the class.

## Why class?

For example, we might want to track employees in an organization.

- We need to store some basic information about each employee, such as their name, age, position, and the year they started working.

In [ ]:
Tharo = ["Dara Tharo", 34, "HR", 2010] # Thara[1]=>
sara = ["sara", 35, "Science Officer", 2014]
Sotha = ["Leo Sotha", "Chief Medical Officer", 2020]

## Defining a class

To create a class, use the keyword ***class***

In [50]:
class Person:
    """We can create a simple empty class.

    This is a set of rules that says what a student is.
    """

In [51]:
# Creating an instance
vince = Person()
print(vince)

# Creating a different instance
zoe = Person()
zoe

<__main__.Person object at 0x7f991e313700>

#### Object Attributes

In [52]:
class Student:
    courses = ["Biology", "Mathematics", "English"]
    age = 5
    gender = "Male"
#Let us now create Vince again:
vince = Student()

#Accessing these attributes:
vince.courses
vince.age
vince.gender

'Male'

In [ ]:
'''
Delete the age property from the p1 object:
'''

del vince.age

'''
Delete an object:
'''

del vince

#### Object Methods

In [ ]:
class Student:
    courses = ["Biology", "Mathematics", "English"]
    age = 5
    sex = "Male"

    def have_a_birthday(self):
        """This method increments the age of our instance."""
        self.age += 1

In [ ]:
vince = Student()
vince.age

vince.have_a_birthday()

vince.age

### The self Parameter
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [53]:
class Student:
  def __init__(this, name, age):
    this.name = name
    this.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

In [54]:
p1 = Student("John", 36)
p1.myfunc()

Hello my name is John

### The `__init__` method

All classes have a function called `__init__()`, which is always executed when the class is being initiated.

Use the `__init__()` function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [56]:
class Student:
    def __init__(self, courses, age, sex):
        """
        What the class should do when it
        is used to create an instance
        """
        self.courses = courses
        self.age = age
        self.sex = sex
    
    def __init__(self, courses, age):
        """
        What the class should do when it
        is used to create an instance
        """
        self.courses = courses
        self.age = age

    def have_a_birthday(self):
        self.age += 1

In [58]:
vince = Student(["Biology","Math"],28)
# vince.courses
vince.age
# vince.sex

vince = Student(["Biology","Math"],28, "Male")
# vince.courses
vince.age

TypeError: __init__() takes 3 positional arguments but 4 were given

#### The `__str__()` Function

The `__str__()` function controls what should be returned when the class object is represented as a string.

If the `__str__()` function is not set, the string representation of the object is returned:

In [59]:
class Student:
    def __init__(self, courses, age, sex):
        """
        What the class should do when it
        is used to create an instance
        """
        self.courses = courses
        self.age = age
        self.sex = sex

    def have_a_birthday(self):
          self.age += 1

    def __str__(self):
      return f"{self.sex}({self.age})"

In [60]:
sara = Student(["Biology","Math"],20,"Male")
print(sara)

Male(20)

## Inheritance

**Inheritance** allows us to define a class that inherits all the ***methods*** and ***properties*** from another class.

**Parent class** is the class being inherited from, also called base class.

**Child class** is the class that inherits from another class, also called derived class.

In [61]:
class Math_Student(Student):
    """
    A Math student: behaves exactly like a Student
    but also has a favourite class attribute.
    """
    favourite_class = "Mathematics"

In [62]:
becky = Math_Student(["Mathematics", "Biology"], 29, "Female")
becky.courses, becky.age, becky.sex, becky.favourite_class

(['Mathematics', 'Biology'], 29, 'Female', 'Mathematics')

In [63]:
#This class has the methods of the parent class:
becky.have_a_birthday()
becky.age

30